.section {
  padding-top: 1.5rem;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glassEffect {
  position: absolute;
  top: 12.5%;
  left: -20%;
  width: 100%;
  backdrop-filter: blur(8px);
  height: 30%;
  // background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;

  @include media($bp-laptop) {
    top: 42%;
    left: 0;
    width: 100vw;
    backdrop-filter: blur(8px);
    height: 20%;
    // background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

.bgImage {
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  opacity: 0.45;

  &.sakuraLeft {
    visibility: hidden;

    @include media($bp-laptop) {
      visibility: visible;
      left: 0;
      top: 14rem;
    }
  }

  &.sakuraRight {
    width: 180px;
    height: 95px;
    right: -60px;
    top: 12rem;
    transform: rotate(-30deg);

    @include media($bp-laptop) {
      right: 0;
      top: 1.5rem;
      transform: rotate(0deg);
    }
  }

  &.moon {
    width: 90px;
    height: 135.5px;
    left: -25px;
    top: 1rem;
    transform: rotate(180deg);
    opacity: 1;

    @include media($bp-laptop) {
      transform: rotate(0deg);
      left: auto;
      right: 0;
      top: 13rem;
      width: 171px;
      height: 254px;
    }
  }
}

.container {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .titleMain {
    margin-bottom: 0.5rem;
    max-width: 580px !important;

    span {
      display: inline-block;
      font-size: 24px;
      line-height: 1.3;
      letter-spacing: 0.04em;
      font-weight: 600;

      @include media($bp-laptop) {
        font-size: 40px;
      }
    }
  }
  @include media($bp-laptop) {
    margin-top: 2.5rem;
  }
}

.productCards {
  margin-top: 2rem;
  padding-top: 0.5rem;
}

.buttonWrapper {
  margin-top: 40px;

  display: flex;
  justify-content: center;
}
