.gradient {
  background: linear-gradient(
    135deg,
    var(--color-gradient-from),
    var(--color-gradient-to)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
