.section {
  background-color: var(--color-red-700);
  overflow: hidden;
  position: relative;
  padding-top: 340px;

  @include media($bp-laptop) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.koi {
  position: absolute;
  top: -210px;
  right: 0;
  width: 365px;

  @include media($bp-laptop) {
    top: 40px;
    width: 320px;
  }
}

.title {
  color: var(--color-text-white);
  font-weight: 600;

  @include media($bp-laptop) {
    font-size: var(--text-h2-size);
  }
}

