.productImageWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 361px;
  height: 600px;
  flex-shrink: 0;
}

.productImage {
  width: 361px !important;
  height: 600px !important;
  object-fit: contain;
  object-position: bottom center;
}
