.switcher {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.button {
  padding: 0.1rem;
  background: transparent;

  color: var(--color-text, inherit);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: var(--color-primary-hover, inherit);
  }

  &.active {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
  }
}
