.section {
  background: url('../../../../../public/img/bg/bg-benefits.webp') no-repeat
    center center;
  background-size: cover;
  // padding: 0;
}

.title {
  max-width: 800px;
  margin-bottom: 2.5rem;
  font-size: var(--text-h2-size);
}
